*.bak
/Инженерная и компьюторная графика/

/Иностранный язык/

/Мат анализ/

/Информатика и программирование/

/Информационные технологии в цифровой экономике/

/Основы_программной_инженерии/Решение_лабораторных/.idea/
/Основы_программной_инженерии/Решение_лабораторных/__pycache__/
/Основы_программной_инженерии/Решение_лабораторных/venv/
/Основы_программной_инженерии/Решение_лабораторных/БД_которую_скинул_Артём_Ильгов/

/Языки программирования/Лабы/
/Языки программирования/Лекции/
/Языки программирования/Laboratory_in_C_language/x64/
/Языки программирования/Laboratory_in_C_language/.vs
/Языки программирования/Laboratory_in_C_language/Temp.txt
/Языки программирования/Laboratory_in_C_language/Laboratory_in_C_language/x64/
/Языки программирования/Laboratory_in_C_language/Laboratory_in_C_language.sln
/Языки программирования/Laboratory_in_C_language/Laboratory_in_C_language/Laboratory_in_C_language.vcxproj
/Языки программирования/Laboratory_in_C_language/Laboratory_in_C_language/Laboratory_in_C_language.vcxproj.filters
/Языки программирования/Laboratory_in_C_language/Laboratory_in_C_language/Laboratory_in_C_language.vcxproj.user

/ссылки.txt
/Титульник по матанализу.doc