*.bak
/Инженерная и компьюторная графика/

/Иностранный язык/

/Мат анализ/

/Информатика и программирование/

/Информационные технологии в цифровой экономике/

/Основы_программной_инженерии/Решение_лабораторных/.idea/
/Основы_программной_инженерии/Решение_лабораторных/__pycache__/
/Основы_программной_инженерии/Решение_лабораторных/venv/
/Основы_программной_инженерии/Решение_лабораторных/БД_которую_скинул_Артём_Ильгов/

/Языки программирования/

/ссылки.txt
/Титульник по матанализу.doc